/* Importando fuente */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');

 :root {
    --colorPrimario: #F4DFC8;
    --colorPrimarioTrasparencia: #f4dfc8ad ;
    --colorSecundario: #916DB3; /* Elegir */
    --colorSecundario: #A2678A;
    --colorSecundarioTransparent: #a2678ac7;
    --colorTerciario: #F4F9F9;
    /* --colorTerciario: #F4EAE0;
    --colorN: #F4F9F9; */

    --fuentePrincipal:  'Lora', serif;
    --separacion: 3rem;

 }

html {
    font-size: 62.5%; /* 1rem = 10px */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 2;
}

h1, 
h2 {
    font-weight: 900;
    color: var(--colorSecundario);
    font-size: 3.2rem;
}

a {
    text-decoration: none;
    color: var(--colorTerciario);
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 3px;
    transition-property: transform color ;
    transition-duration: .5s;
}
a:hover{
    color: var(--colorSecundario);
    font-size: 1.8rem;
}

i {
    font-size: 3rem;
   
}

i:hover {
   font-size:  4rem;
}


ul,
.header__icons-social-media {
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--separacion);
}

img {
    max-width: 100%;
    display: block;
}


.btn {
    display: inline-block;
    padding: .5rem 2.5rem;
    border: 3px solid var(--colorSecundarioTransparent);
    color: var(--colorPrimario);
    border-radius: 5rem;
    font-weight: 600;
    font-size: 1.6rem;
    transition-property: background-color color border ;
    transition-duration: .5s;
}

.btn:hover {
    background-color: var(--colorPrimarioTrasparencia);
    color: var(--colorTerciario);
    border: 3px solid var(--colorSecundario);
}

/* Header */
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
  /*   border: 3px solid red;
    background-color: green; */
}

.start {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/assets/hero.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.header {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}

.header__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10rem;
    background-color: var(--colorPrimarioTrasparencia);
}

.header__icon-nav {
    color: var(--colorTerciario);
    display: none;
}


.welcome {
    letter-spacing: 3px;
    height: 100vh;
    color: var(--colorPrimario);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: var(--separacion);
}
.welcome__heading {
    text-transform: uppercase;
}

.welcome__text {
    max-width: 65rem;
    font-size: 1.8rem;
}

/* About-me */
.about-me {
    margin-block: calc(var(--separacion) * 3);
    color: var(--colorPrimario);
    display: flex;
    gap: var(--separacion);
  /*   background-color: var(--colorN);   Agregar color albody?*/

}

.about-me__container {
    color: var(--colorPrimario);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-items: start;
}

.about-me__img {
    max-width: 40rem;
}

.about-me__picture {
    width: 100%;
    border-radius: var(--separacion);
    padding: 1.5rem;

    background-color: var(--colorPrimarioTrasparencia);
    background-color: #a7829514;
    /*    border: 3px solid red; */
}

.about-me__header {
    font-size: 3rem;
    color:  var(--colorSecundarioTransparent);
}

.about-me__profession {
    text-transform: uppercase;
    color:  var(--colorSecundarioTransparent);
    font-size: 2.2rem;
    display: inline-block;
    line-height: 1.5;
}
.about-me__profession::before,
.about-me__profession::after {
    content: '';
    width: 100%;
    height: 3px;
    display: block;
    background-color:  #a782955c; /* Crear variable  */
}


.about-me__description {
    color:  var(--colorSecundarioTransparent);
    font-weight: 600;
}

.about-me__link {
    border: 3px solid var(--colorSecundario);
    color:  var(--colorSecundarioTransparent);

}

.about-me__link:hover {
    background-color: var(--colorSecundarioTransparent);
    color: var(--colorTerciario);
    border: 3px solid var(--colorPrimario);
}
/* Education */
.education {
    
}

.education__header {

}

.education__container {
    display: flex;
    justify-content: space-between;
    gap: var(--separacion);
    
}

.education__info {
    border: 3px solid red;
 
}

.skills {
    border: 3px solid red;
}



